# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Pygbag web build
assets/web-cache/

# Misc
*.log
*.bak
*.swp
*~

# Zone.Identifier (Windows)
*:Zone.Identifier
